fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pdfplumber
chromadb
python-dotenv
pydantic-settings
groq
resend
trafilatura
python-docx
python-pptx
pytesseract
Pillow
youtube-transcript-api
slowapi
sentence-transformers